body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  nav {
    background-color: rgba(241, 241, 241, 1.9);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ddd;
  }
  
  .container {
    position: relative;
  }
  
  .gambar {
    display: block;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  

  
  