*{
    box-sizing: border-box;
}

body {
    background-color: #fff; /* Change to the desired color */
}

.container{
    background-color: #DFD2FD;
    width: 60%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.img-container{
    width: 90%;
    margin: 0 auto 30px auto;
    
}
.img-container img{
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 400px;
    margin: auto;
    border-radius: 10px;
}
.figcaption{
    margin: 20px 0 30px 0;
    text-align: center;
    
}
input[type="file"]{

    display: none;
}
label{
    display: block;
    position: relative;
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}
.icons{
 
    width: 30px;
    height: 30px;
    color: #fff;
    padding: auto;
}
